{% extends 'base.html' %}
{% block title %}Password Reset Done{% endblock %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block body %}
<div class="vh-100 d-flex justify-content-center align-items-center ">
    <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
                    <h4>Password Reset Done Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        check your mail.
                    </div>
                    <hr>
                </div>
            </div>

{% endblock %}