{% extends 'base.html' %}

{% block title %}Password Reset Confirm{% endblock %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block body %}

<div class="vh-100 d-flex justify-content-center align-items-center ">
    <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
        

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change my password">
              </form>
              
    </div>
  </div>

{% endblock %}